@page
@model LocalPizza.Pages.MenuModel
@{
    ViewData["Title"] = "Menu";
}
@using LocalPizza.Core
<h2>Menu</h2>

<h3>Traditional</h3>
@foreach (var item in Model.GetRange(ProductRange.Traditional))
{
    <div>
        <p>@item.Name</p>
    </div>
}
<h3>Premium</h3>
@foreach (var item in Model.GetRange(ProductRange.Premium))
{
    <div>
        <p>@item.Name</p>
    </div>
}
<h3>Sides</h3>
@foreach (var item in Model.GetRange(ProductRange.Side))
{
    <div>
        <p>@item.Name</p>
    </div>
}
<h3>Drink</h3>
@foreach (var item in Model.GetRange(ProductRange.Drink))
{
    <div>
        <p>@item.Name</p>
    </div>
}

<h3>Dessert</h3>
@foreach (var item in Model.GetRange(ProductRange.Dessert))
{
    <div>
        <p>@item.Name</p>
    </div>
}