@page
@model LocalPizza.Pages.MenuModel
@{
    ViewData["Title"] = "Menu";
}

<h1>Menu</h1>

@*@foreach (var Menu in Model.Menus)
{
    <h1>@Menu.Name</h1>
    @foreach (var Group in Menu.ItemGroups)
    {
        <h2>@Group.GroupName</h2>
        @foreach (var item in Group.Items)
        {
            <h3>@item.Name</h3>
            <p>@item.Description</p>
            <h4>@item.Price.ToString()</h4>
        }
    }
}*@