@page 
@model LocalPizza.Pages.Admin.ProductListModel
@{
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}
@using LocalPizza.Core;
@using LocalPizza.Core.Menu;
<h1>Product Editor</h1>
<div class="large-button">
    <a asp-page="AddProduct">Add Product</a>
</div>
<div class="table">
    <h2>Products</h2>
    <table>
        <tr id="tableHeader">
            <th>Image</th>
            <th>Product Name</th>
            <th>Product Range</th>
            <th>Price</th>
            <th>Sold</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        @foreach (var item in Model.Products)
        {
    <tr class="tableContent">
        <td><img class="Product-Image" src="~/images/@item.ProductPicture" /></td>
        <td>@item.Name</td>
        @if (item is Topping)
        {
            item.Range = ProductRange.Topping;
        }
        <td>@item.Range</td>
        <td>$@item.Price</td>
        <td>@Model.GetSaleCount(item.Id)</td>
        <td><a asp-page="./EditProduct" asp-route-id="@item.Id" asp-route-range="@item.Range"><i class="fas fa-edit"></i></a></td>
        <td><a asp-page="./Delete" asp-route-id="@item.Id" asp-route-range="@item.Range"><i class="fas fa-trash-alt"></i></a></td>
    </tr>
        }
    </table>
</div>

